{:company/legal-name "Westinghouse Air Brake Technologies Corporation"
 :company/lei "06BTX5UWZD0GQ5N5Y745"
 :company/jurisdiction "US-DE"
 :company/website "https://www.wabteccorp.com"
 :company/ticker "WAB (NYSE)"}
